.DS_Store
node_modules
fe/dist
app/dist
server/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

server/src/scripts/data
app/package-lock.json
server/package-lock.json
.runtime/logs/app.log
.runtime/logs/server.log
.runtime/pids/app.pid
.runtime/pids/server.pid
